.ant-alert {
  &-info {
    align-items: center !important;
  }
  &-success {
    &-product {
      position: absolute !important;

      min-width: 400px;
      left: 45%;
      opacity: 0;
      transform: translateY(-40px);
      transition: 0.3s;
      visibility: hidden;
      &.show {
        opacity: 1;
        transform: translateY(-20px);
        visibility: visible;
      }
    }
  }
  &-close-icon {
    align-self: flex-start;
  }
}
